@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header {
  border-bottom: 1px solid #ececec;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border: 1px solid #ececec;
}

.links {
  display: flex;
}

.links li:not(:last-child) {
  margin-right: 50px;
}

.links li a {
  padding: 24px 0;
  display: block;
}

.links__item {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.links__item:hover, .links__item:focus {
  color: #2196f3;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-info {
  display: flex;
}

.nav-info li:last-child {
  margin-left: 30px;
}

.nav-info li a {
  display: flex;
}

.nav-info li img {
  margin-right: 10px;
}

.nav__logo {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  margin-right: 100px;
}

.nav-info__text {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding: 24px 0;
  transition: 250ms;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-info__text:hover, .nav-info__text:focus {
  color: #2196f3;
}

.nav-info__text svg {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.top-container {
  background-image: url("../images/Img.png");
  background-size: cover;
  padding: 200px 0;
}

.top-container__content {
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.top-container__text {
  margin: 0 0 30px 0;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.top-container__button {
  background-color: #2196f3;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 30px;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.top-container__button:hover {
  background-color: #188ce8;
}

.content {
  width: 270px;
}
.content:not(:last-child) {
  margin-right: 30px;
}

.content__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
}

.content__text {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}

.content__img {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f4fa;
}
.content__img svg {
  width: 70px;
  height: 70px;
}

.content__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
}

.content__text {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}

.content-section {
  padding: 94px 0;
}

.content-container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.content-container ul {
  display: flex;
}

.wwd-section {
  padding-bottom: 94px;
}

.wwd-section__content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.wwd__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin: 0 0 50px 0;
}

.wwd__container {
  display: flex;
}

.wwd__container li {
  position: relative;
}

.wwd__container li:not(:last-child) {
  margin-right: 30px;
}

.wwd__text {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0%;
  z-index: 2;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 27px 0;
}

.our-team {
  display: flex;
  justify-content: center;
}

.our-team .our-team__card:not(:last-child) {
  margin-right: 30px;
}

.our-team__card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0, 1, 1, rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team__img {
  margin-bottom: 30px;
}

.our-team__name {
  text-align: center;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.our-team__title {
  text-align: center;
  color: #757575;
  margin: 0 0 16px 0;
}

.our-team__item:not(:last-child) {
  margin-right: 10px;
}

.our-team__social {
  display: flex;
}

.our-team__link {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__link:hover, .our-team__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.our-team__link svg {
  fill: currentColor;
}

.our-team__container {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team__content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.customer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.customer__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin: 0 0 50px 0;
}

.customer__container {
  display: flex;
}

.customer__container li {
  flex-basis: calc(33.3333333333% - 30px);
}

.customer__container li:not(:last-child) {
  margin-right: 30px;
}

.customer__logo {
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: 250ms;
  transition-property: border-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__logo:hover, .customer__logo:focus {
  color: #2196f3;
  border-color: #2196f3;
}
.customer__logo svg {
  fill: currentColor;
}

.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 34px;
}

.modal__button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms;
  transition-property: border-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--form-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__button:hover, .modal__button:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  cursor: pointer;
}
.modal__button svg {
  fill: currentColor;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__input {
  color: #000000;
  padding: 12px 40px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service__input:hover, .service__input:focus-visible {
  outline: none !important;
  border-color: #2196f3;
  color: #000000;
}
.service__input:hover .service__icon, .service__input:focus-visible .service__icon {
  outline: none !important;
  color: #2196f3;
  fill: #2196f3;
}

.service__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  width: 100%;
  color: #757575;
}
.service__label:hover .service__icon, .service__label:focus .service__icon {
  fill: #2196f3;
}

.service__name {
  position: absolute;
  top: -18px;
}

.service__button {
  background-color: #2196f3;
  padding: 10px 80px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service__button:hover {
  background-color: #188ce8;
}

.service__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service__textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
}
.service__textarea:hover, .service__textarea:focus {
  outline: none !important;
  border-color: #2196f3;
}

.service__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.service__checkbox-label .service__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.service__checkbox-label .icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  fill: none;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service__checkbox-label .service__checkbox:checked + .icon {
  background-color: #2196f3;
  border-color: #2196f3;
  fill: #ffffff;
  outline: none;
  stroke: #ffffff;
  stroke-width: 0.2;
}

.service__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.textarea {
  margin-bottom: 20px;
}

.product-section {
  padding: 94px 0;
}

.product-section__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.products__list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.products__list li:not(:last-child) {
  margin-right: 10px;
}

.products__button {
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  padding: 6px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 26px;
  transition: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__button:hover, .products__button:active {
  background-color: #2196f3;
  color: #ffffff;
}

.products__button--active {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__content {
  padding: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  z-index: 2;
}

.projects__card {
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(33.3333333333% - 30px);
  transition: 250ms;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__card:hover .projects__overlay, .projects__card:focus .projects__overlay {
  top: 0%;
}

.projects__name {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.projects__description {
  font-size: 16px;
  color: #757575;
  margin: 0;
}

.projects__container {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  padding: 63px 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  width: 100%;
  display: block;
  height: 100%;
  top: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-overlay {
  position: relative;
  top: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  top: -95%;
  background: rgba(33, 150, 243, 0.9);
  transition-property: height;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
  font-size: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.project-card-overlay-text {
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  font-style: normal;
}
.footer__list li:not(:last-child) {
  margin-bottom: 5px;
}

.footer__address {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:focus, .footer__address:hover {
  color: #ffffff;
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:focus, .footer__email:hover {
  color: #ffffff;
}

.footer__info {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__info:focus, .footer__info:hover {
  color: #ffffff;
}

.footer__content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  display: flex;
}

.footer__logo {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.social__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px 0;
  display: block;
}

.social-content {
  margin-left: 70px;
}

.social__container {
  display: flex;
  justify-content: space-around;
}
.social__container img {
  color: #ffffff;
}

.social__img {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  padding: 12px 12px;
  transition: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__img:hover, .social__img:focus {
  background-color: #2196f3;
  cursor: pointer;
}
.social__img svg {
  fill: #ffffff;
}

.newsletter {
  margin-left: 90px;
}

.newsletter__container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__form {
  display: flex;
}

.newsletter__button {
  background-color: #2196f3;
  width: 200px;
  padding: 10px 40px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter__button:hover, .newsletter__button:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.newsletter__input {
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 347px;
  height: 50px;
  margin-right: 12px;
  padding-left: 10px;
  transition: 250ms;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__input:hover, .newsletter__input:focus {
  outline: none;
  border-color: #ffffff;
}

.newsletter__button svg {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */