@import "../utils/vars.scss";
@import "../utils/mixins.scss";

.customer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.customer__container {
  li {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  li:nth-last-child(-n + 3) {
    margin-right: 30px;
  }
  @media screen and (min-width: $tablet) {
    li:nth-child(-n + 3) {
      margin-right: 30px;
      margin-bottom: 30px;
    }
    li:nth-last-child(-n + 3) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: $desktop) {
    li:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.customer__logo {
  text-decoration: none;
  background-color: $secondary-color;
  @include bordered($icon-gray);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $icon-gray;
  transition: 250ms;
  transition-property: border-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-color;
    border-color: $primary-color;
  }
  & svg {
    fill: currentColor;
  }
  @media screen and (min-width: $tablet) {
    width: 170px;
    height: 92px;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
    height: 92px;
  }
}
.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
