@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 20px;
}

.nav-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.nav-logo-text {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
}

.nav-text {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.nav-text:hover,
.nav-text:focus {
  color: #2196f3;
}

.top-container {
  width: 100%;
  background-color: #2f303a;
}
.top-container-content {
  position: relative;
  text-align: center;
}
.top-container-text {
  margin-top: 0;
  padding-top: 200px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 32px;
  height: 127.2px;
}
.top-container-button {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 200px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.content-text-container {
  margin: 0 15px;
  width: 270px;
}
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
}
.content-text {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}
.wwd-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 0;
}
.wwd-container {
  display: flex;
  justify-content: center;
}
.wwd-img {
  padding-right: 30px;
}
.our-team-container {
  width: 100%;
  height: 648px;
  margin-top: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}
.our-team-content-container {
  display: flex;
  justify-content: center;
}
.our-team-card {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0, 1, 1, rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}
.our-team-name {
  text-align: center;
  color: #212121;
  font-weight: 500;
}
.our-team-title {
  text-align: center;
  color: #757575;
}

.footer-address {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}
.footer-email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.footer-email-and-phone {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.product-card-container {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}
.product-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
.product-text-container {
  padding: 20px 24px;
}
.product-buttons {
  background-color: #f5f4fa;
  padding: 6px 26px;
  border: none;
  height: 38px;
  border-radius: 4px;
}
.product-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.active-product-button {
  background-color: #2196f3;
  color: white;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px;
}

.project-card {
  border: #eeeeee;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-name {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}

.project-description {
  font-size: 16ppx;
  color: #757575;
  margin-left: 5px;
}

.icon-container {
  background-color: #f5f4fa;
  height: 120px;
}
.icon {
  display: block;
  margin: auto;
  top: 50%;
  transform: translateY(40%);
}

button:hover,
button:active {
  background-color: #1d598b;
  color: white;
}

.current {
  color: #2196f3;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-content {
  margin-left: 70px;
}
