@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
header {
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.nav-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-info li:last-child {
  margin-left: 15px;
}
.nav-logo-text {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
}

.nav-logo-text-bottom {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.nav-text {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.nav-text:hover,
.nav-text:focus {
  color: #2196f3;
}

.nav-text-info {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.nav-text-info:hover,
.nav-text-info:focus {
  color: #2196f3;
}

.top-container {
  background-color: #2f303a;
  padding: 200px 0;
}
.top-container-content {
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.top-container-text {
  margin: 0 0 30px 0;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.top-container-button {
  background-color: #2196f3;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
}
.top-container-button:hover {
  background-color: #188ce8;
}
.content-container-section {
  padding: 94px 0;
}
.content-container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.content-container ul {
  display: flex;
}
.content-text-container {
  margin: 0 15px;
  width: 270px;
}
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
}
.content-text {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}
.wwd-section {
  padding-bottom: 94px;
}
.wwd-section-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.wwd-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin: 0 0 50px 0;
}
.wwd-container {
  display: flex;
}
.wwd-container li:not(:last-child) {
  margin-right: 30px;
}

.our-team-container {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.our-team-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.our-team-content-container {
  display: flex;
  justify-content: center;
}
.our-team-content-container li:not(:last-child) {
  margin-right: 30px;
}
.our-team-card {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0, 1, 1, rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team-img {
  margin-bottom: 30px;
}
.our-team-name {
  text-align: center;
  color: #212121;
  font-weight: 500;
  margin: 0 0 10px 0;
}
.our-team-title {
  text-align: center;
  color: #757575;
  margin: 0 0 30px 0;
}
.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  font-style: normal;
}
.footer-list li:not(:last-child) {
  margin-bottom: 5px;
}
.footer-address {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-address:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer-address:focus {
  color: white;
}
.footer-email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-email:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer-email:focus {
  color: white;
}
.footer-email-and-phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer-email-and-phone:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer-email-and-phone:focus {
  color: white;
}
.product-card-container {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}
.product-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
.product-text-container {
  padding: 20px 24px;
}
.product-section {
  padding: 94px 0;
}
.button-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.button-list li:not(:last-child) {
  margin-right: 10px;
}
.product-buttons {
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 16px;
  padding: 6px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.product-buttons-list {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.active-product-button {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.project-content {
  padding: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-card {
  margin-bottom: 30px;
  cursor: pointer;
}
.project-name {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.project-description {
  font-size: 16px;
  color: #757575;
  margin: 0;
}

.icon-container {
  background-color: #f5f4fa;
  height: 120px;
}
.icon {
  display: block;
  margin: auto;
  top: 50%;
  transform: translateY(40%);
}

button:hover,
button:active {
  background-color: #1d598b;
  color: white;
}

.current {
  color: #2196f3;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
